/*
	------
	GLOBAL
	------
*/

body {
	background-color: #eee;
}

#main_page {
	margin-top: 60px;

}

.container {
	width: 100%;
}

/*
	------
	NAVBAR
	------
*/

.vdivide {
	margin-top: 10px;
	width: 2px;
	height: 30px;
	border-right: 1px groove #333;
}
#ajouter_img:hover, #ajouter_img:focus {
	background-color: #ac2925;
}
#ajouter_img {
	color: white;
}
.erreur {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
#logo {
	overflow: hidden;
}
.navbar {
	-webkit-box-shadow: 0 8px 3px -6px #999;
	-moz-box-shadow: 0 8px 3px -6px #999;
	box-shadow: 0 8px 3px -6px #999;
	border: none;	
	vertical-align: middle;
	background-color: #fff;
}
.navbar li {
	box-sizing: border-box
	margin-left: 0;
	margin-right: 0;
}
.navbar li a {
	color: black;
}
.actif, .actif:hover, .actif:focus {
	-webkit-box-shadow: inset 0 -8px 0px -3px #d90000;
	-moz-box-shadow: inset 0 -8px 0px -3px #d900.0;
	box-shadow: inset 0 -8px 0px -3px #d90000;
}
.navbar a {
	overflow: hidden;
}
.navbar-brand>img {
	height: 80px;
	overflow: hidden;
	margin-top: -25px;
	width: auto;
}
#search {
	line-height: 55px;
	vertical-align: middle;
}
#search_input {
	font-size: 16px;
}
#connexion {
	margin-left: 10px;
}

/*

	------
	CARTES
	------

*/


.card {
	cursor: pointer;
	-webkit-box-shadow: 0 0px 10px 10px #bbb;
	-moz-box-shadow: 0 0px 10px 10px #999;
	box-shadow: 1px 1px 10px 1px #bbb;
	width: 350px;
	border-radius: 5px;
	background-color: #fff;
	margin: 20px;
}

.card-header {
	margin-bottom: 5px;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 0;
}
.card-title {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	font-size: 30px;
}
.card-info {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	margin-left: 30px;
	font-size: 12px;
}
.card-content {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 270px;
	line-height: 270px;
	position: relative;
	overflow: hidden;
}
.card-img {
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: absolute;
	max-width: 100%;
	height: 100%;
	display: none;
}
.card-footer {
	font-weight: bold;
	font-size: 15px;
	margin: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 25px;
	margin-left: 10px;
	text-align: left;
}
.card-overlay {
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	display: none;
	z-index: 100;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.card-buttons {
	text-align: justify;
	position: relative;
	width: 100%;
}
.card-buttons:after {
	content: "";
	width: 100%;
	display: inline-block;
}
.card-share {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	opacity: 0.7;
	margin: 15px;
	display: inline-block;
	*display: online;
	zoom: 1;
	width: 23%;
}
.card .phi-points {
	margin: 0;
	margin-left: -5px;
	height: 90%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.upvote.voted, .upvote.voted:hover, .upvote.voted:focus {
	color: #7094db;
}

.downvote.voted, .downvote.voted:hover, .downvote.voted:focus {
	color: #ff4d4d;
}

.card .upvote, .card .downvote {
	height: 100%;
	width: 30px;
	padding: 0;
	margin: 0;
	outline: 0;
}


.line-container {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
.line-container>.card {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
}

.line-container:after {
	content: "";
	width: 100%;
	display: inline-block;
}




#voteerror {
	margin-top: -30px;
}


/*

	-----------
	SOURCES IMG
	-----------

*/



.big-img-container {
	margin-top: 85px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}
.big-img {
	margin: auto;
	max-width: 100%;

}

